pytorch-lightning
gradio
huggingface-hub
einops
omegaconf
torchmetrics
webdataset
accelerate
tensorboard
PyMCubes
trimesh
rembg
transformers
diffusers
bitsandbytes
imageio[ffmpeg]
xatlas
plyfile
Ninja
git+https://github.com/NVlabs/nvdiffrast/